PORT=3000

APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=

KEY=

DB_ID=portfolio

EXPERIENCE_ID=experience
ORGANIZATION_ID=team
PROJECTS_ID=project
EDUCATION_ID=education

BUCKET_ID=projects
